<template>
  <section>
 this is the hero section
  </section>
</template>
<script>
export default {
  name:'Hero',
  data(){
    return{
      random: 15,
      fruits: ['apple','banana','citrus','dingo']
    }
  },
  methods:{
    changeNumber(){
      this.random = 20;
    }
  }
}
</script>