<template>
  <main class="home">
    <Hero/>
    <Intro/>
    <HomeServices/>
  </main>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import Hero from "../components/containers/Hero";
import Intro from "../components/containers/Intro";
import HomeServices from "../components/containers/HomeServices";

export default {
  name: 'Home',
  components: {
    HomeServices,
    Intro,
    Hero,
    HelloWorld
  }
}
</script>
