<template>
  <nav>
    <div class="logo">Logo</div>
    <div class="nav-items">
      <div class="nav-item">Home</div>
      <div class="nav-item">Home</div>
      <div class="nav-item">Home</div>
      <div class="nav-item">Home</div>
      <div class="nav-item">Home</div>
    </div>
  </nav>
</template>
<script>
export default {
  name: 'Navbar'
}
</script>
<style lang="scss">
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 7.5vw;
  height: 80px;
  align-items: center;

  .nav-items {
    display: flex;
    align-items: center;
    .nav-item {
      padding: 0 16px;
    }
  }
}
</style>