<template>
  <div id="nav">
    <Navbar/>
    <Home/>
<!--    <Hero/>-->
<!--    <hello-world/>-->
<!--    <router-link to="/">Home</router-link> |-->
<!--    <router-link to="/about">About</router-link>-->
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld";
import Navbar from "./components/partials/Nav";
import Home from "./views/Home";
export default {
  components: {Home, Navbar, HelloWorld}
}
</script>
<style>
@import "./assets/scss/style.scss";
</style>